.card-panel {
    background-color: tan;
}

.wholePanel {
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    font-size: 125%;
    padding: 5% 40px 5% 40px;
}

.summary {
    font-size: 20px;
}

.portfolio-pic {
    height: 400px;
}